*{
    font-style: Arial;
    font-family: sans-serif;
}

.header_1{
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
}

.header_2{
    font-size: 32px;
}

.text{
    font-style: Intent;
    font-size: 20px;
}

.smail-text{
    font-size: 14px;
}

.base_button{
    font-size:  14px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #FFFFFF;
}

.black_button{
    font-size:  14px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #000000;
    color: #FFFFFF;
}

.block{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 40px;
    width: 400px;
    height: 450px;
    margin: 20px;
    display: flex;
}
  .double_grid{
    display: grid;
    grid-template-columns: repeat(2, 520px);
  }

  .wrap_center{
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .button_container {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
  }

  .space_between{
    display: grid;
    grid-template-columns: repeat(2, 370px);
  }