*{
    font-style: 'Arial', sans-serif;
}

.header_1{
    white-space: pre;
    font-size: 80px;
    font-style: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.header_2{
    font-size: 32px;
}

.text{
    font-style: Intent;
    font-size: 20px;
}

.smail-text{
    font-size: 14px;
}

.base_button{
    font-size:  14px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #FFFFFF;
}

.block{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 40px;
    width: 400px;
    height: 450px;
    margin: 20px;
    display: flex;
}

  
  .horizont_alarm {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .wrap_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content="center"
  }